{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'media/logo.ico' %}" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="/static/logo.png" class="logo" alt="TBD" style="height: 75px; width: 75px;"/>
        </a>
        <nav>
            <ul class="menu">
                <li style="background-color: #fff; color: #000; padding: 0.5rem 1rem 0.5rem 1rem; underline: none;"><a style="text-decoration: none; " href="{% url 'profile_page' %}">Profile</a></li>
                <form class="logout-link" method="post" action="{% url 'logout' %}">
                    <li><button type="submit">
                        {% csrf_token %}
                        Logout
                    </button>
                        
                    </li>
                </form>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>