<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation Success</title>
    <link rel="stylesheet" href="/codex/assets/css/email.css">
</head>

<body style="background-color: #c8f1b7; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; font-family: Arial, sans-serif; margin: 0; padding: 0; height: 100vh;">
    <h1 style="color: #46ab46; margin-bottom: 20px; font-size: 3rem">Email Confirmation Success</h1>
    <p style="font-weight: 600; font-size: 1.5rem; margin-left: 1rem; margin-right: 1rem;">Congratulations! Your email has been successfully confirmed.</p>
</body>

</html>
